<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nft.mall.mapper.WithdrawConfigMapper">

    <resultMap type="com.nft.mall.domain.WithdrawConfig" id="WithdrawConfigResult">
        <result property="withdrawConfigId"    column="withdraw_config_id"    />
        <result property="certificationId"    column="certification_id"    />
        <result property="walletAddress"    column="wallet_address"    />
        <result property="mobile"    column="mobile"    />
        <result property="account"    column="account"    />
        <result property="realName"    column="real_name"    />
        <result property="idNumber"    column="id_number"    />
        <result property="accountBank"    column="account_bank"    />
        <result property="accountSubBank"    column="account_sub_bank"    />
        <result property="bankCard"    column="bank_card"    />
        <result property="configType"    column="config_type"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectWithdrawConfigVo">
        select withdraw_config_id, certification_id, wallet_address, mobile, account, real_name, id_number, account_bank, account_sub_bank, bank_card, config_type, create_time, update_time from t_withdraw_config
    </sql>

    <select id="selectWithdrawConfigList" parameterType="com.nft.mall.domain.WithdrawConfig" resultMap="WithdrawConfigResult">
        <include refid="selectWithdrawConfigVo"/>
        <where>
            <if test="certificationId != null "> and certification_id = #{certificationId}</if>
            <if test="walletAddress != null  and walletAddress != ''"> and wallet_address = #{walletAddress}</if>
            <if test="mobile != null  and mobile != ''"> and mobile = #{mobile}</if>
            <if test="account != null  and account != ''"> and account = #{account}</if>
            <if test="realName != null  and realName != ''"> and real_name like concat('%', #{realName}, '%')</if>
            <if test="idNumber != null  and idNumber != ''"> and id_number = #{idNumber}</if>
            <if test="accountBank != null  and accountBank != ''"> and account_bank = #{accountBank}</if>
            <if test="accountSubBank != null  and accountSubBank != ''"> and account_sub_bank = #{accountSubBank}</if>
            <if test="bankCard != null  and bankCard != ''"> and bank_card = #{bankCard}</if>
            <if test="configType != null "> and config_type = #{configType}</if>
        </where>
    </select>

    <select id="selectWithdrawConfigById" parameterType="Long" resultMap="WithdrawConfigResult">
        <include refid="selectWithdrawConfigVo"/>
        where withdraw_config_id = #{withdrawConfigId}
    </select>

    <insert id="insertWithdrawConfig" parameterType="com.nft.mall.domain.WithdrawConfig" useGeneratedKeys="true" keyProperty="withdrawConfigId">
        insert into t_withdraw_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="certificationId != null">certification_id,</if>
            <if test="walletAddress != null">wallet_address,</if>
            <if test="mobile != null">mobile,</if>
            <if test="account != null">account,</if>
            <if test="realName != null">real_name,</if>
            <if test="idNumber != null">id_number,</if>
            <if test="accountBank != null">account_bank,</if>
            <if test="accountSubBank != null">account_sub_bank,</if>
            <if test="bankCard != null">bank_card,</if>
            <if test="configType != null">config_type,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="certificationId != null">#{certificationId},</if>
            <if test="walletAddress != null">#{walletAddress},</if>
            <if test="mobile != null">#{mobile},</if>
            <if test="account != null">#{account},</if>
            <if test="realName != null">#{realName},</if>
            <if test="idNumber != null">#{idNumber},</if>
            <if test="accountBank != null">#{accountBank},</if>
            <if test="accountSubBank != null">#{accountSubBank},</if>
            <if test="bankCard != null">#{bankCard},</if>
            <if test="configType != null">#{configType},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateWithdrawConfig" parameterType="com.nft.mall.domain.WithdrawConfig">
        update t_withdraw_config
        <trim prefix="SET" suffixOverrides=",">
            <if test="certificationId != null">certification_id = #{certificationId},</if>
            <if test="walletAddress != null">wallet_address = #{walletAddress},</if>
            <if test="mobile != null">mobile = #{mobile},</if>
            <if test="account != null">account = #{account},</if>
            <if test="realName != null">real_name = #{realName},</if>
            <if test="idNumber != null">id_number = #{idNumber},</if>
            <if test="accountBank != null">account_bank = #{accountBank},</if>
            <if test="accountSubBank != null">account_sub_bank = #{accountSubBank},</if>
            <if test="bankCard != null">bank_card = #{bankCard},</if>
            <if test="configType != null">config_type = #{configType},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where withdraw_config_id = #{withdrawConfigId}
    </update>

    <delete id="deleteWithdrawConfigById" parameterType="Long">
        delete from t_withdraw_config where withdraw_config_id = #{withdrawConfigId}
    </delete>

    <delete id="deleteWithdrawConfigByIds" parameterType="String">
        delete from t_withdraw_config where withdraw_config_id in
        <foreach item="withdrawConfigId" collection="array" open="(" separator="," close=")">
            #{withdrawConfigId}
        </foreach>
    </delete>

    <select id="selectByCertificationIdAndType" resultMap="WithdrawConfigResult">
        <include refid="selectWithdrawConfigVo"/>
        where certification_id = #{certificationId} and config_type = #{configType}
    </select>

    <select id="selectByBankCardSet" parameterType="string" resultMap="WithdrawConfigResult">
        <include refid="selectWithdrawConfigVo"/> where bank_card in
        <foreach item="bankCard" collection="bankCardSet" open="(" separator="," close=")">
            #{bankCard}
        </foreach>
    </select>
</mapper>